# Application Environment Variables
ENVIRONMENT="development"  
# "azure_ai_agent" | "semantic_kernel" | "semantic_kernel_agent" | "group_chat_sk"
BACKEND_TYPE="group_chat_sk"  

# Telemetry Settings
ENABLE_TELEMETRY=true
AZURE_MONITOR_CONNECTION_STRING="<constring>"

# For Azure AI Agent Service
PROJECT_CONNECTION_STRING="<endpoint;sub;rg;proj>"
PIZZA_AGENT_ID="asst_<...>"

# Pizza Dough Agent IDs for group chat
NEAPOLITAN_DOUGH_AGENT="asst_<...>"
ROMAN_DOUGH_AGENT="asst_<...>"
DOUGH_SIMPLIFIER_AGENT="asst_<...>"

# For chat completion:
AZURE_AI_INFERENCE_ENDPOINT="https://<fqdn>/models"
AZURE_AI_INFERENCE_API_KEY="<api_key>"